* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #eee;
    background: #222;
}
.form_input {
    padding: 10px 0;
}
form {
    max-width: 500px;
    margin: 50px auto 0;
    background: transparent;
    padding: 30px 20px;
    box-shadow: 0 0 30px #fff2;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 10px;
}
label {
    font-size: 0.9rem;
}
input, textarea {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #666;
    border-radius: 4px;
    background: transparent;
    resize: none;
    margin: 6px 0 0;
}
textarea {
    height: 100px;
    line-height: 1.4rem;
}