p {
    color: blue; /*It's a good practice to put an absolute value here, this is because each browser can interpret colors differently*/

    font-family: sans-serif, monospace, 'Lucida Sans'; /*It's a good practice to put a specific font family first, and then a generic one. If the specific one is not available, the browser will use the generic one*/

    /*Also if the name of a typografy is separated by a space it's necessary to put the typografy between "", for example "Lucida Sans"*/

    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: left; /*Describes how inline contents of a block are horizontally aligned if the contents do not completely fill the line box.*/
    text-decoration: overline underline;
    line-height: 1.3; /*Determines the block-progression dimension of the text content area of an inline box.*/
    text-transform: uppercase; /*Controls the capitalization of text.*/
}